<!-- <nav> -->
<div  *ngIf="!inside">
  <ul>
    <li>
      <a class="nav-logo vertical">Christian Santiago</a>
    </li>
    <li class="mid1">
      <a class="fas fa-power-off"></a>
    </li>
    <li class="li1">
      <a class="fas fa-home"></a>
    </li>
    <li class="li2">
      <a class="fas fa-user-circle"></a>
    </li>
    <li class="li3">
      <a class="fas fa-folder"></a>
    </li>
    <li class="li4">
      <a class="fas fa-address-card"></a>
    </li>
  </ul>
</div>
<!-- </nav> -->
