<div>
  <ul>
    <li>
      <a><i class="fab fa-facebook"></i></a>
    </li>
    <li>
      <a><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a><i class="fab fa-linkedin-in"></i></a>
    </li>
    <li>
      <a><i class="fab fa-github-alt"></i></a>
    </li>
    <li>
      <a><i class="fab fa-gitlab"></i></a>
    </li>
    <li class="item">
      Christian Santiago
    </li>
    <li class="item1"><i class="far fa-copyright"> </i> Copyright</li>
  </ul>
</div>
