<div>
  <ul>
    <li>
      <a>
        <i class="fab fa-facebook" id="facebook"></i>
      </a>
    </li>
    <li>
      <a>
        <i class="fab fa-linkedin-in" id="linkedin"></i>
      </a>
    </li>
    <li>
      <a>
        <i class="fab fa-github-alt" id="github"></i>
      </a>
    </li>
    <li>
      <a>
        <i class="fab fa-gitlab" id="gitlab"></i>
      </a>
    </li>


    <div class="right" id="non-mobile">
      <li class="item1">
        <i class="far fa-copyright"> </i> Copyright
      </li>
      <li class="item">
        Christian Santiago
      </li>
    </div>
    <div class="right" id="mobile">
      <li> <i class="far fa-copyright"> </i></li>
      <li>
          CS
        </li>
    </div>
  </ul>
</div>
