<div class="container">

  <div class="row">

    <!-- 1st Column -->
    <div class="col s4 l3">

      <!-- Objective Card-->
      <div class="card objective">
        <div class="card-content">
          <span class="card-title">Objective</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deleniti cupiditate a facilis aspernatur deserunt
            nam, aut dignissimos excepturi ullam dolore harum dolores, aliquid repudiandae voluptatem est cumque eveniet
            alias.
          </p>
        </div>
      </div>

      <!-- Knowledge Card -->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Knowledge</span>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, dolorem ullam! Ipsa in sequi ipsam. Itaque saepe
            dignissimos, quaerat sequi fugiat accusantium qui ab illo labore deserunt voluptatem aliquam id.
          </p>
        </div>
      </div>
    </div>

    <!--  Mid Div, primary content-->
    <div class="col s12 l6">

      <!-- About-Me Card-->
      <div class="card third">
        <div class="card-content">
          <span class="card-title">About-Me</span>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente ea error dignissimos quam est soluta aliquam
            libero exercitationem dolore! Debitis, perferendis. Omnis quibusdam tempore temporibus dignissimos, neque ullam
            quidem nihil.
          </p>
        </div>
      </div>

      <!-- Experience Card-->
      <div class="card">
        <div class="card-content">
          <span class="card-title">Experience</span>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente ea error dignissimos quam est soluta aliquam
            libero exercitationem dolore! Debitis, perferendis. Omnis quibusdam tempore temporibus dignissimos, neque ullam
            quidem nihil.
          </p>
        </div>
      </div>
    </div>

    <!-- Bottom Div container, helps centralize Middle Div-->
    <div class="col s4 l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Contact Me</span>
          <!-- Contact-Me Form-->
          <form>
            <!-- Name Field -->
            <div class="input-field">
              <input type="text" placeholder="Name" class="validate" id="visitor-name">
              <label for="visitor-name">Name</label>
            </div>

            <!-- Email Field-->
            <div class="input-field">
              <input type="text" placeholder="Email" class="validate" id="visitor-email">
              <label for="visitor-email">Email</label>
            </div>

            <!-- Message Form -->
            <div class="input-field">
              <textarea type="text" placeholder="Message" class="validate" id="visitor-message"></textarea>
                <label for="visitor-message">Message</label>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <!-- Bottom Row -->
  <div class="row">

    <div class="card progress-bars">
      <div class="card-content">
        <span class="card-title">Coding Skills</span>
        <p>HTML</p>
        <div class="skills-box">
          <div class="skills html round-corners">45%</div>
        </div>

        <p>CSS</p>
        <div class="skills-box">
          <div class="skills css round-corners">35%</div>
        </div>

        <p>JavaScript</p>
        <div class="skills-box">
          <div class="skills js round-corners">32%</div>
        </div>

        <p>Angular</p>
        <div class="skills-box">
          <div class="skills angular round-corners">55%</div>
        </div>

        <p>Java</p>
        <div class="skills-box">
          <div class="skills java round-corners">70%</div>
        </div>

        <p>Python</p>
        <div class="skills-box">
          <div class="skills python round-corners">20%</div>
        </div>

        <p>SQL</p>
        <div class="skills-box">
          <div class="skills sql round-corners">25%</div>
        </div>

        <p>Acknowledging I have much to learn</p>
        <div class="skills-box">
          <div class="skills learn round-corners">100%</div>
        </div>

      </div>
    </div>
  </div>
</div>