.lower {
  margin-top: 15%;
}

.container {
  width: 50%;
  text-align: center;
  background-color: #424242;
}

ul#myDiv {
  list-style-type: none;
  color: black;
}

li a:hover:not(.active) {
  background-color: gray;
}

a {
  display: block;
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 10px;
  color: black;
}

li a.active {
  background-color: #1565c0;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #1565c0;
  float: right;
  margin-right: -25px;
}

.fa-arrow-down {
  font-size: 15px;
  padding: 5px;
}

.title {
  font-size: 25px;
  background-color: gray;
}

.collapse {
  display: none;
}

.progress-bars {
  height: fit-content;
}

.skills-box {
  width: 100%;
  color: grey;
  border-radius: 25%;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 25px;
  color: white;
}

.round-corners {
  border-radius: 50px;
}

.html {
  width: 45%;
  background-color: darkgreen;
}

.css {
  width: 35%;
  background-color: royalblue;
}

.js {
  width: 32%;
  background-color: #f44336;
}

.angular {
  width: 55%;
  background-color: #808080;
}

.java {
  width: 70%;
  background-color: orange;
}

.sql {
  width: 25%;
  background-color: purple;
}

.learn {
  width: 100%;
  background-color: midnightblue;
}

.python {
  width: 20%;
  background-color: rgb(192, 165, 10);
}

div.links ul {
  list-style-type: none;
  padding: 0;
}

div.links li {
  display: inline-block;
}

#icon {
  display: none;
}

#link-btn {
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: auto;
    height: 100%;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 10px;
  }
  .tablinks {
    font-size: 10px;
  }
  .arrow {
    margin-top: -28px;
  }
  .card-title {
    font-size: 20px;
  }
  th {
    font-size: 13px;
  }
  td {
    font-size: 10px;
    width: auto;
  }
  #icon {
    display: block;
    font-size: 25px;
  }
  #nav-object {
    display: none;
  }
  #link-btn {
    font-size: 25px;
  }
  iframe {
    width: 150px;
    height: 200px;
  }

  .skills {
    line-height: 15px;
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}
