<div class="container">

  <div class="row">

    <!-- Top Div container, helps centralize middle div container -->
    <div class="col s4 l3">

    </div>

    <!-- Middle Div contianer, holds the content -->
    <div class="col s4 l6" style="text-align: center;">
      <div class="card s4 l6 grey darken-2">
        <div class="card-content">
          <img src="../../assets/avatar.png" class="image">
          <span class="card-title">Christian Santiago</span>
          <h3> Aspiring Web Designer</h3>
          <h5> Eager to learn new web design technologies</h5>
          <button class="btn waves-effect waves-light" style="background-color: #4365be;" (click)="visitor()">Learn More</button>
        </div>
      </div>
    </div>

    <!-- Bottom Div container, helps centralize Middle Div-->
    <div class="col s4 l3">

    </div>

  </div>

</div>
