.location {
    display:flex;
    justify-content:center;
    align-items:center;
}

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.card {
   margin-top: 33.3333333%;
   margin-bottom: 33.3333333%;

}