<div class="container">
    <h2>Card Test</h2>


    <div class="row">
      <div class="col s12 l6" style="width: 1280px">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Welcome</span>
            <p>The information asked in the forms below is for keeping a record of who visits.
                It is my desire to keep a record of how many people visit the website, who visits the website
              and possibly when. If you feel unsafe or have doubts to whether or not submit the form please click the link below
            Although, if you could be so kind to fill the form and submitted I will be grateful.<br>
            {{ today | date: 'medium' }}
          </p>
          <h4>Dankeschon</h4>
          <form>
          </form>
          <button class="btn grey darken-2 waves-effect waves-light" (click)="visitor()">Bypass Form</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Students</span>
            <form [formGroup]="studentForm" (ngSubmit)="students()">
                <table>
                  <tr>
                    <td>
                      <input type="text" class="input-field validate" placeholder="Name" formControlName="name">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="input-field validate" placeholder="Concentration/Bachelor" formControlName="bachelor">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="material-icons">email</i>
                      <input type="email" class="input-field validate" placeholder="E-Mail" formControlName="email" style="text-indent: 32px">
                      <span class="helper-text">Preferably UPR's email</span>
                    </td>
                  </tr>
                </table>
                <div class="card-action">
                  <input type="submit" class="btn waves-effect green darken-3 waves-light" value="submit">
                </div>
              </form>
          </div>
        </div>
      </div>
  
      <div class="col s12 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Recruiters</span>
            <form [formGroup]="recruiterForm" (ngSubmit)="recruiter()">
              <table>
                <tr>
                  <td>
                    <input type="text" class="input-field validate" placeholder="Name" formControlName="name">
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="input-field validate" placeholder="Company" formControlName="company">
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="email" class="input-field validate" placeholder="E-Mail" formControlName="email">
                  </td>
                </tr>
              </table>
              <div class="card-action">
                <input type="submit" class="btn waves-effect yellow darken-2 waves-light" value="submit">
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>